<h1><%= @user.name %></h1>
<div>
	<% unless current_user == @user %>
		<%= link_to "Follow", user_follow_path(@user), method: :post, class: "btn btn-default btn-sm" %>
	<% end %>

	<% @user.photos.each do |photo| %>
		<%= link_to image_tag(photo.image.url), photo, class: "img-responsive wide_img" %>
	    <h4><%= photo.caption %></h4>
    <% end %>
</div>
